

.page-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #383a4f;
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
}
.wizard-heading {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-top: 85px;
    padding-bottom: 55px;
}
.py-class  {
	width: 1200px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: auto;
    margin-top:20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
    .py-class .wizard-form {
        width: 100%;
        background: #fac754;
        border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }
.form-register .steps {
	padding:  35px 50px 20px;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    width: 33.33%;
    margin-right: 20px;
    background: #fff;
}
.form-register .steps li:last-child {
	margin-right: 0;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	display: flex;
	display: -webkit-flex;
}
.form-register .steps li a .title .step-icon { 
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    font-size: 18px;
    color: #fff;
    font-size: 10px;
    background: #ccc;
    padding: 10px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-register .steps li a .step-icon span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
	background: #55e8d5;
}
.form-register .steps li a .step-text {
	color: #333;
	font-size: 10px;
	font-weight: 400;
	padding: 10px;
	
}
.form-register .content {
	padding:  0 50px;
}
.form-register .content h2 {
	display: none;
}
.inner .form-heading {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.inner .form-heading h3 {
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	margin: 0;
    padding: 0 0 35px;
}
.inner .form-heading span {
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}
.inner .form-row {
    display: flex;
    margin: 0 -15px;
    position: relative;
    margin-bottom: 25px;
}
.inner .form-row .form-row-inner {
    position: relative;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 15px;
    position: relative;
}
.inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
}
.inner .form-row .form-holder .label {
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transform-origin: 0 0;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
}
.inner .form-row .form-holder label.special-label {
    display: block;
    float: none;
    padding-right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.inner .form-row .form-holder label.special-label-1 {
	font-weight: 600;
	font-size: 14px;
	color: #55e8d5;
}
.inner .form-images {
    margin-bottom: 20px;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    padding: 11.5px 20px;
    border: none;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    background: transparent;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255,255,255,0.3);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.inner .form-row .form-holder .form-control:focus + .label, 
.inner .form-row .form-holder .form-control:valid + .label {
    transform: translateY(-34px) scale(0.9);
    -moz-transform: translateY(-34px) scale(0.9);
    -webkit-transform: translateY(-34px) scale(0.9);
    -o-transform: translateY(-34px) scale(0.9);
    -ms-transform: translateY(-34px) scale(0.9);
    color: #55e8d5;
}
input::placeholder {
    color: #fff;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
.inner .form-row .form-holder select {
    background: #fff url('../images/wizard_v6_icon.png') no-repeat scroll;
    background-position: right 16px center;
    z-index: 1;
    cursor: pointer;
    color: #666;
    position: relative;
    font-weight: 400;
    font-size: 16px;
}
.inner .form-row .form-holder select#room,
.inner .form-row .form-holder #day,
.inner .form-row .form-holder select#time {
	background: transparent;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255,255,255,0.3);
    color: #fff;
    position: relative;
    background: 0 0;
    z-index: 1;
    cursor: poiter;
}
.inner .form-row .form-holder .select-btn {
    z-index: 0;
    position: absolute;
    top: 54.5%;
    right: 6%;
    font-size: 19px;
    cursor: pointer;
    color: #fff;
}
.inner .form-row .form-holder.form-holder-2 .select-btn {
	right: 3.5%;
}
.inner .form-row.form-row-date .form-holder select {
	float: none;
    width: 12.4%;
    margin-right: 20px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.inner .form-row.form-row-date .form-holder select#year {
	width: 13.6%;
}
.inner .form-row .form-holder select option {
	background: #fff;
	color: #666;
}
.inner .form-row .form-holder .ui-datepicker-trigger {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 54.5%;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.inner .form-row.table-responsive {
    border: none;
}
.inner .table-responsive .table {
	width: 100%;
}
.inner .table-responsive tbody {
	text-align: left;
}
.inner .table-responsive tr.space-row {
    display: block;
}
.inner .table-responsive tbody th {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 0;
}
.inner .table-responsive tbody td {
	color: #55e8d5;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 25px;
}
.form-register .actions {
	padding: 0 45px 45px;
}
.actions ul {
	list-style: none;
	padding-left: 0;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
}
.actions ul li.disabled,
.actions ul li:first-child {
	display: none;
}
    .actions ul li {
        padding: 0;
        border: none;
        display: inline-flex;
        height: 45px;
        width: 150px;
        justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: #28a745;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }
.actions ul li:hover {
	background: #32998b
}
.actions ul li a {
	color: #fff;
	text-decoration: none;
    padding: 11px 55px;
}


/* Responsive */
@media screen and (max-width: 991px) {
	.py-class {
		width: 90%;
	}
	.form-register .steps li a .title {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
		-moz-align-items: center;
		-webkit-align-items: center;
	}
	.form-register .steps li a .title .step-icon {
		border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
	}
	.form-register .steps li a .step-text {
		padding-bottom: 20px;
		padding-left: 0;
	}
	.inner .form-row.form-row-date .form-holder select,
	.inner .form-row.form-row-date .form-holder select#year {
		width: 25%;
	}
}

@media screen and (max-width: 575px) {
	.form-register .steps {
	    padding: 35px 30px 20px;
	}
	.form-register .steps li a .title .step-icon {
		padding:  20px;
		font-size: 20px;
	}
	.form-register .content {
		padding: 0 30px;
	}
	.inner .form-heading span {
		display: none;
	}
	.inner .form-images {
		display: none;
	}
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row .form-holder {
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.inner .form-row.form-row-date .form-holder select,
	.inner .form-row.form-row-date .form-holder select#year {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    margin-right: 0;
	    display: block;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}
	.inner .form-row .form-holder .select-btn {
		right: 2%;
	}
	
}

/* House hotspot code*/

.BornHS__Wrapper {
    position: relative;
}

    .BornHS__Wrapper .BornHS__Close {
        display: none;
    }

    .BornHS__Wrapper .Content__Wrapper {
        position: relative;
    }

    .BornHS__Wrapper .BornHS__Modal__Content {
        background: #131313;
        border-radius: 5px;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
        color: #fff;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        width: 360px;
        z-index: 4;
    }

        .BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper {
            padding: 20px;
        }

            .BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper .BornHS__Title {
                font-size: 16px;
                text-transform: uppercase;
            }

            .BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper p {
                font-size: 13px;
                margin: 0;
                padding: 0;
            }

    .BornHS__Wrapper .BornHS__Input {
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        text-indent: -9999px;
        width: 0;
        z-index: -1;
    }

        .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
            background: #ec2256;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            position: absolute;
            transition: all 300ms ease;
            width: 20px;
            z-index: 2;
        }

@media (min-width: 768px) {
    .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
        height: 30px;
        width: 30px;
    }
}

.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before, .BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    background: #fff;
    content: "";
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before {
    height: 2px;
    width: 40%;
}

.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    height: 40%;
    width: 2px;
}

.BornHS__Wrapper .BornHS__Input ~ .BornHS__Overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

.BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label {
    transform: rotate(45deg);
}

.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Modal__Content {
    opacity: 1;
    visibility: visible;
}

.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Overlay {
    display: block;
}

.BornHS__Wrapper.BornHS__Blur figure {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.BornHS__Wrapper.BornHS__Blur .BornHS__Input {
    display: none;
}

    .BornHS__Wrapper.BornHS__Blur .BornHS__Input + .BornHS__Label {
        opacity: 0.5;
        pointer-events: none;
    }

    .BornHS__Wrapper.BornHS__Blur .BornHS__Input:checked {
        display: inline-block;
    }

        .BornHS__Wrapper.BornHS__Blur .BornHS__Input:checked + .BornHS__Label {
            opacity: 1;
            pointer-events: auto;
        }

.BornHS__Modal {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .BornHS__Wrapper .BornHS__Modal__Content {
        bottom: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

        .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close {
            background: #ec2256;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 20px;
            right: -5px;
            position: absolute;
            top: -5px;
            transition: all 300ms ease;
            transform: rotate(45deg);
            width: 20px;
            z-index: 5;
        }

            .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:before, .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:after {
                background: #fff;
                content: "";
                cursor: pointer;
                display: block;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:before {
                height: 2px;
                width: 40%;
            }

            .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:after {
                height: 40%;
                width: 2px;
            }
}


/* Emergency kit hotspot*/



.map {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    position: relative;
    max-width: 1100px;
    margin: auto;
   
    text-align:-webkit-center;
}

    .map img {
        display: block;
        width: 80%;
    }

.map-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    width: 60%;
    padding: 10px;
    background-color: #fff;
    transition: all 300ms ease-in;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 24px rgba(0,0,0,0.22);
    opacity: 0;
    visibility: hidden;
}

    .map-popup > *:first-child {
        margin-top: 0;
    }

    .map-popup > *:last-child {
        margin-bottom: 0;
    }

    .map-popup.open {
        opacity: 1;
        visibility: visible;
    }

.marker {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 36px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: tomato;
    transition: all 300ms;
}

.marker1 {
    top: 30%;
    left: 44%;
}

.marker2 {
    top: 30%;
    left: 74%;
}


.marker3 {
    top: 50%;
    left: 74%;
}

.marker4 {
    top: 10%;
    left: 22%;
}

.marker5 {
    top: 60%;
    left: 74%;
}

.marker6 {
    top: 35%;
    left: 17%;
}

@media only screen and (min-width:48em) {
    .map-item {
        position: absolute;
        width: 36px;
        height: 36px;
    }

        .map-item .marker {
            top: auto;
            left: auto;
        }

    .map-item1 {
        top: 30%;
        left: 44%;
    }

    .map-item2 {
        top: 30%;
        left: 74%;
    }

    .map-item3 {
        top: 50%;
        left: 74%;
    }


    .map-item4 {
        top: 10%;
        left: 22%;
    }

    .map-item5 {
        top: 60%;
        left: 74%;
    }

    .map-item6 {
        top: 35%;
        left: 17%;
    }

    .map-popup {
        position: absolute;
        left: 58px;
        width: 280px;
        transform: translateY(-50%);
    }

        .map-popup:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -16px;
            margin-top: -16px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 16px 16px 0;
            border-color: transparent #fff transparent transparent;
        }

        .map-popup.edge {
            left: auto;
            right: calc(100% + 24px);
        }

            .map-popup.edge:before {
                left: auto;
                right: -16px;
                border-width: 16px 0 16px 16px;
                border-color: transparent transparent transparent #fff;
            }
}

/*Flamable items*/

.wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative;
}

input {
    display: none;
}

.inner1 {
    width: 500%;
    line-height: 0;
}

article {
    width: 20%;
    float: left;
    position: relative;
}

    article img {
        width: 100%;
    }

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.7;
    }

        .slider-prev-next-control label:hover {
            opacity: 1;
        }

.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

    .slider-dot-control label {
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #bbb;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        .slider-dot-control label:hover {
            background: #ccc;
            border-color: #777;
        }

/* Info Box */
.info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
}

    .info h3 {
        color: #fcfff4;
        margin: 0 0 5px;
        font-weight: normal;
        font-size: 1.5em;
        font-style: normal;
    }

    .info.top-left {
        top: 30px;
        left: 30px;
    }

    .info.top-right {
        top: 30px;
        right: 30px;
    }

    .info.bottom-left {
        bottom: 30px;
        left: 30px;
    }

    .info.bottom-right {
        bottom: 30px;
        right: 30px;
    }

/* Slider Styling */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

    .slider-wrapper .inner {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    }

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
}

    #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
        content: "\f104";
        padding-left: 8px;
    }

#slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #333;
}

#slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
    opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

        .slider-wrapper .info {
            opacity: 0;
        }
}

@media only screen and (min-width: 850px) {
    
}


.featured-donate.overlay-color, .featured-donate.overlay-color-2, .featured-section.overlay-color, .featured-section.overlay-color-2 {
    position: relative;
    margin-top: 15px;
}

    .featured-donate.overlay-color:before, .featured-donate.overlay-color-2:before, .featured-section.overlay-color:before, .featured-section.overlay-color-2:before {
        position: absolute;
        content: "";
        background: #28a745;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .9;
    }

    .featured-donate.overlay-color-2:before, .featured-section.overlay-color-2:before {
        background: #f7ca44;
    }

.featured-donate, .featured-section {
    padding: 4em 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

    .featured-donate img, .featured-section img {
        -webkit-box-shadow: 0 4px 30px -5px black;
        box-shadow: 0 4px 30px -5px black;
        border-radius: 7px;
    }

    .featured-donate.overlay-color:before, .featured-donate.overlay-color-2:before, .featured-section.overlay-color:before, .featured-section.overlay-color-2:before {
        position: absolute;
        content: "";
        background: #28a745;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .9;
    }

    .featured-donate.overlay-color-2:before, .featured-section.overlay-color-2:before {
        background: #f7ca44;
    }
