@{
    ViewBag.Title = "Home Page";
}
<style>
    video{
      position:absolute;
  }
    .block-30.block-30-sm .heading {
    font-size: 80px;
    /*margin-bottom: 20px;*/
}
    
</style>
<script language="JavaScript">
<!--    hide

    var password;
    var pass1 = "phoenix";
    var passFlag = false;

    password = prompt('Please enter your password to view this page!', '');

    if (password == pass1) {

    } else {
        alert('enter correct password');
        window.location = "https://thefirebreak.me";
    }


//-->
</script>
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
         @*<div class="block-30 block-30-sm item" style="background-image: url('../../images/bg_1.jpg'); background-position: 0% 0px;" data-stellar-background-ratio="0.5">*@
        <div class="block-30 block-30-sm item" style=" background-position: 0% 0px; background: rgba(0, 0, 0, 0.5);" data-stellar-background-ratio="0.5">
           
    <video autoplay loop muted>
        <source src="~/video/back_video.mp4" type="video/mp4">
    </video>
    <div class="container content">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8">
                <h1 class="heading mb-5">Be prepared for next bushfire.</h1>
            </div>
        </div>
    </div>
    @*<div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="heading mb-5">Be prepared for next bushfire</h2>
            </div>
        </div>*@
</div>
        </div>

    </div>

<div class="site-section border-top" style="text-align:center; justify-content:center;">
    <div class="container">
        <div class="row">

            <div class="card service-card col-lg-4 col-md-4 col-sm-12">
                <img class="card-img-top" src="~/images/prepare_hm.png" style="width:50%; margin:auto;" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title heading">Prepare yourself</h5>
                    <p class="card-text">Incase your leaving early this survival plan will help you to reach your destination safely.</p>
                    <a href="/Home/Prepare" class="btn btn-primary">Get ready</a>
                </div>
            </div>

            <div class="card service-card col-lg-4 col-md-4 col-sm-12">
                <img class="card-img-top" src="~/images/severityhomemap.png" style="width:50%; margin:auto; " alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title heading">Calculate severity level</h5>
                    <p class="card-text">Predication of bushfire prone areas based on history.</p>
                    <a href="#" class="btn btn-primary disabled">Calculate severity level</a>
                </div>
            </div>

            <div class="card service-card col-lg-4 col-md-4 col-sm-12">
                <img class="card-img-top" src="~/images/checklist.png" style="width:50%; margin:auto; " alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title heading">Preparation checklist</h5>
                    <p class="card-text">Incase your leaving early this survival plan will help you to reach your destination safely.</p>
                    <a href="#" class="btn btn-primary disabled">Get your checklist</a>
                </div>
            </div>
        </div>
    </div>
    <div class="blacksummer" style="padding:20px">
        <div class="container con">
            <div class="row">
                <div class="col-lg-7">
                    <img src="~/images/bushfire.jpg" />Cessnock Bush Fire 18-01-2013, photo: Quarrie Photography
                </div>
                <div class="col-lg-5 blackcon" style="text-align:left;">
                    <h2>Black Summer Event</h2>
                    <p style="font-size:16px; padding-left:0px;">
                        The 2019-20 bushfire season in Victoria started when East Gippsland encountered lightning strikes in late November.
                        In terms of homes lost, this has been Australia’s most destructive fire season on record, more than 300 properties
                        have been destroyed for Victoria only at last count. Among them approximately 85% of property damages are caused by
                        flying ember’s entering.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="emberattack" style="margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="text-align:left;">
                    <h2>Ember Attack and Fuel Management</h2>
                    <p style="font-size:16px; padding-left:0px;">
                        Burning twigs and leaves are carried by the wind and land on or around houses, which can start spot fires up to 40 kilometers
                        away from the main blaze in extreme cases. Of all factors driving a fire’s severity - temperature, rainfall, air humidity,
                        wind speed, topography, fuel moisture, and fuel load - fuel load is the only one human can influence. Even if you have decided
                        to leave early, appropriate property protection measures are still crucial both for you and your neighbors.
                    </p>
                </div>
                <div class="col-lg-5">
                    <img src="~/images/ember.jpg" />
                </div>

            </div>
        </div>
    </div>

    <div class="blacksummer" style="padding:20px">
        <div class="container con">
            <div class="row">
                <div class="col-lg-7">
                    <img src="~/images/family.jpg" />
                </div>
                <div class="col-lg-5 blackcon" style="text-align:left;">
                    <h2>Safety of You and Your Family is Our Top Concern</h2>
                    <p style="font-size:16px; padding-left:0px;">
                        Know your risk and do not take any chances. Get prepared before every bushfire season so that
                        you can keep calm to cope with emergencies. Plan with us to protect your families and increase
                        the chances of your home surviving a bushfire.
                    </p>

                </div>
            </div>
        </div>
    </div>


</div> <!-- .site-section -->
<script src="~/Scripts/py.js"></script>


