
@{
    ViewBag.Title = "KnowAboutBushfire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bg-dark {
        background-color: #343a40 !important;
    }

    .infogram-embed {
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
    }

    iframe {
        border-radius: 10px;
    }

    .ftco-navbar-light {
        top: 0;
    }

    .download {
    display: inline-block;
    margin-right: 10px;
    background: #339dff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 38px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;
   margin:0 auto;
}

    .download:hover {
        background: #fff;
        color: #339dff;
        box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
    }
    .statistics{
        text-align:center;
        margin-bottom:20px;
    }
  
</style>
<div class="container statistics" style="margin-top:8%;">
    <div class="infogram-embed" data-id="315c2ec1-2349-4c0b-8021-e608d2aeecea" data-type="interactive" data-title="know about "></div>
    <script>!function (e, i, n, s) { var t = "InfogramEmbeds", d = e.getElementsByTagName("script")[0]; if (window[t] && window[t].initialized) window[t].process && window[t].process(); else if (!e.getElementById(n)) { var o = e.createElement("script"); o.async = 1, o.id = n, o.src = "https://e.infogram.com/js/dist/embed-loader-min.js", d.parentNode.insertBefore(o, d) } }(document, 0, "infogram-async");</script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href="https://infogram.com/315c2ec1-2349-4c0b-8021-e608d2aeecea" style="color:#989898!important;text-decoration:none!important;" target="_blank"></a><br><a href="https://infogram.com" style="color:#989898!important;text-decoration:none!important;" target="_blank" rel="nofollow"></a></div>

    <a href="/Home/Quiz" class="download">Play Quiz</a>
</div>
@Scripts.Render("~/bundles/jquery")

