
@{
    ViewBag.Title = "Prepare_yourself";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/opensans-font.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/py.css" rel="stylesheet" />
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-image: url('../../images/bg_1.jpg'); background-position: 0% 0px;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="heading mb-5">Rebuilding after a bushfire.</h2>
                        <p style="display: inline-block;"><a href="https://vimeo.com/channels/staffpicks/93951774" data-fancybox class="ftco-play-video d-flex"><span class="play-icon-wrap align-self-center mr-4"><span class="ion-ios-play"></span></span> <span class="align-self-center">Watch Video</span></a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="py-class">
    <div class="wizard-form">
        <form class="form-register" id="form-register" action="#" method="post">
            <div id="form-total">
                <!-- SECTION 1 -->
                <h2>
                    <p class="step-icon"><span>1</span></p>
                    <span class="step-text">Prepare your house</span>
                </h2>
                <section>
                    <div class="inner">
                        <div class="form-heading">
                            <h3>House</h3>
                            <span>1/6</span>
                        </div>
                        <!--House hotspots-->
                        <div class="container">
                            <div class="lg-container">
                                <img class="lg-image"
                                     src="~/images/home.jpg" />

                                <div style="top: 20%; left: 19.9%;" class="lg-hotspot lg-hotspot--top-left">
                                    <div class="lg-hotspot__button"></div>
                                    <div class="lg-hotspot__label">
                                        <h4>This is the title</h4>
                                        <p>This is some text that goes in the label. It describes the item.</p>
                                    </div>
                                </div>

                                <div style="top: 25%; left: 88%;" class="lg-hotspot lg-hotspot--top-right">
                                    <div class="lg-hotspot__button"></div>
                                    <div class="lg-hotspot__label">
                                        <h4>Keyboard</h4>
                                        <p>
                                            A keyboard has letters, and it can write letters. Let's say some more things about keyboards so the text wraps
                                            to multiple lines.
                                        </p>
                                    </div>
                                </div>

                                <div style="top: 15.5%; left: 66%;" class="lg-hotspot lg-hotspot--top-right">
                                    <div class="lg-hotspot__button"></div>
                                    <div class="lg-hotspot__label">
                                        <h4>Envelopes</h4>
                                        <p>These can hold letters, bills, and junk mail.</p>
                                    </div>
                                </div>

                                <div style="top: 62%; left: 15%;" class="lg-hotspot lg-hotspot--bottom-left">
                                    <div class="lg-hotspot__button"></div>
                                    <div class="lg-hotspot__label">
                                        <h4>Coffee</h4>
                                        <p>Yay coffee!</p>
                                    </div>
                                </div>

                                <div style="top: 85%; left: 73%;" class="lg-hotspot lg-hotspot--bottom-right">
                                    <div class="lg-hotspot__button"></div>
                                    <div class="lg-hotspot__label">
                                        <p>This is a label without a title.</p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>



                    </div>
                </section>
                <!-- SECTION 2 -->
                <h2>
                    <p class="step-icon"><span>2</span></p>
                    <span class="step-text">Backyard</span>
                </h2>
                <section>
                   
                </section>
                <!-- SECTION 3 -->
                <h2>
                    <p class="step-icon"><span>3</span></p>
                    <span class="step-text">Flamable items</span>
                </h2>
                <section>
                    
                </section>
                <!-- SECTION 4 -->
                <h2>
                    <p class="step-icon"><span>4</span></p>
                    <span class="step-text">Pets</span>
                </h2>
                <section>
                </section>
                <!-- SECTION 5 -->
                <h2>
                    <p class="step-icon"><span>5</span></p>
                    <span class="step-text">Emergency kit</span>
                </h2>
                <section>
                </section>
                <!-- SECTION 6 -->
                <h2>
                    <p class="step-icon"><span>6</span></p>
                    <span class="step-text">Water resources</span>
                </h2>
                <section>
                </section>
                



            </div>
        </form>
    </div>
</div>






