
@{
    ViewBag.Title = "Prepare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/opensans-font.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="fonts/themify-icons/themify-icons.css">
<link href="~/Content/py.css" rel="stylesheet" />




<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-image: url('../../images/bg3.jpg'); background-position: 0% 0px;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="heading mb-5">Things to do while preparing yourself from bushfire</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="py-class">
    <div class="wizard-form">
        <form class="form-register" id="form-register" action="#" method="post">

            <div id="form-total">
                <!-- SECTION 1 -->
                <h2>
                    <p class="step-icon">1</p>
                    <span class="step-text">House</span>
                </h2>
                <section id="sec1">
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p" ><span><img src="~/images/rsz_schoolIcon.png" /></span>Seal your house to defend ember attack</p>
                        </div>
                    </div>
                    <div class="inner">

                        <!--House hotspots-->
                        <div class="container1">
                            <div class="BornHS__Wrapper" style="text-align:center;">
                                <!------------ Image Start ------------>
                                <figure>
                                    <img class="img-fluid" src="~/images/home.jpg" alt="" style="width:85%;">
                                </figure>
                                <!------------ Image End -------------->
                                <!------------ HotSpot Wrapper Start ------------>
                                <div class="BornHS__Modal">

                                    <!------------ HotSpot Input Start ------------>
                                    <div class="BornHS__Modal__Input">
                                        <input type="checkbox" id="H1" name="HotSpot" class="BornHS__Input" style="left: 10%; top: 15%;">
                                        <label for="H1" class="BornHS__Label blink" style="left: 37%; top: 50%;"></label>
                                        <label for="H1" class="BornHS__Overlay"></label>
                                        <!------------ Content Start ------------>
                                        <div class="BornHS__Modal__Content" style="left: 38%; top: 8%;">
                                            <div class="Content__Wrapper">
                                                <label for="H1" class="BornHS__Close"></label>
                                                <h3 class="BornHS__Title">Windows</h3>
                                                <p>
                                                    1.Install wire mesh screens with 1.5 millimetre holes over both the window and frame that will prevent embers touching the glass or timber.<br />
                                                    2.Install shutters over both the window and frame that protect windows from cracking from flying embers.<br />
                                                    3.Seal all the gaps using any fire-retardant product like, compressed mineral wool insulation.<br />
                                                    4.Maintain and clean window sills so there is no peeling paint.<br />

                                                </p>
                                            </div>
                                        </div>
                                        <!------------ Content End -------------->
                                    </div>
                                    <!------------ HotSpot Input End -------------->
                                    <!------------ HotSpot Input Start ------------>
                                    <div class="BornHS__Modal__Input">
                                        <input type="checkbox" id="H2" name="HotSpot" class="BornHS__Input" style="left: 80%; top: 45%;">
                                        <label for="H2" class="BornHS__Label blink" style="left: 67%; top: 47%;"></label>
                                        <label for="H2" class="BornHS__Overlay"></label>
                                        <!------------ Content Start ------------>
                                        <div class="BornHS__Modal__Content" style="right: 20%; top: 50%;">
                                            <div class="Content__Wrapper">
                                                <label for="H2" class="BornHS__Close"></label>
                                                <h3 class="BornHS__Title">Roofing</h3>
                                                <p>
                                                    1.Repair any damaged or missing tiles<br />
                                                    2.Install Sarking (reflective non combustible sheeting) - note: need to be installed at the time of construction, installing into existing houses can be very expensive.<br />
                                                    3.Seal all the gaps using compressed mineral wool insulation.<br />
                                                    4.Install metal gutter guards<br />
                                                </p>
                                            </div>
                                        </div>
                                        <!------------ Content End -------------->
                                    </div>
                                    <!------------ HotSpot Input End -------------->
                                    <!------------ HotSpot Input Start ------------>
                                    <div class="BornHS__Modal__Input">
                                        <input type="checkbox" id="H3" name="HotSpot" class="BornHS__Input" style="left: 60%; top: 80%;">
                                        <label for="H3" class="BornHS__Label blink" style="left: 60%; top: 80%;"></label>
                                        <label for="H3" class="BornHS__Overlay"></label>
                                        <!------------ Content Start ------------>
                                        <div class="BornHS__Modal__Content" style="right: 40%; bottom: 20%;">
                                            <div class="Content__Wrapper">
                                                <label for="H3" class="BornHS__Close"></label>
                                                <h3 class="BornHS__Title">Door</h3>
                                                <p>
                                                    1.Installing metal screen doors over timber doors<br />
                                                    2.Seal all the gaps using compressed mineral wool insulation.<br />
                                                    3.Replacing combustible door sills with a non-combustible product.<br />
                                                </p>
                                            </div>
                                        </div>
                                        <!------------ Content End -------------->
                                    </div>
                                    <!------------ HotSpot Input End -------------->
                                    <!------------ HotSpot Input Start ------------>
                                    <div class="BornHS__Modal__Input">
                                        <input type="checkbox" id="H4" name="HotSpot" class="BornHS__Input" style="left: 15%; top: 90%;">
                                        <label for="H4" class="BornHS__Label blink" style="left: 15%; top: 90%;"></label>
                                        <label for="H4" class="BornHS__Overlay"></label>
                                        <!------------ Content Start ------------>
                                        <div class="BornHS__Modal__Content" style="left: 17%; bottom: 10%;">
                                            <div class="Content__Wrapper">
                                                <label for="H3" class="BornHS__Close"></label>
                                                <h3 class="BornHS__Title">Smooth surface</h3>
                                                <p>
                                                    1.Remove flammable item from underfloor areas <br />
                                                    2.Close the underfloor areas.<br />
                                                    3.Repair or cover gaps in external walls with compressed mineral wool insulation
                                                </p>
                                            </div>
                                        </div>
                                        <!------------ Content End -------------->
                                    </div>
                                    <!------------ HotSpot Input End -------------->
                                    <!------------ HotSpot Input Start ------------>
                                    <div class="BornHS__Modal__Input">
                                        <input type="checkbox" id="H5" name="HotSpot" class="BornHS__Input" style="left: 60%; top: 80%;">
                                        <label for="H5" class="BornHS__Label blink" style="left: 80%; top: 80%;"></label>
                                        <label for="H5" class="BornHS__Overlay"></label>
                                        <!------------ Content Start ------------>
                                        <div class="BornHS__Modal__Content" style="right: 18%; bottom: 20%;">
                                            <div class="Content__Wrapper">
                                                <label for="H5" class="BornHS__Close"></label>
                                                <h3 class="BornHS__Title">Backyard</h3>
                                                <p>
                                                    1.Clean up fallen leaves, twigs and debris around the property.<br />
                                                    2.Clear the gutter of leaves, twigs and rubbish<br />
                                                    3.Clear any dry branches or wooden pieces.<br />
                                                    4.Clear wood piles near the house
                                                </p>
                                            </div>
                                        </div>
                                        <!------------ Content End -------------->
                                    </div>
                                    <!------------ HotSpot Input End -------------->




                                </div>
                                <!------------ HotSpot Wrapper End -------------->
                            </div>
                            <!------------ HotSpot Wrapper End -------------->

                        </div>



                    </div>

                    <div class="stickynote">
                        <div class="snote">
                            <ul>

                                <li>
                                    <a href="#LINK 1">
                                        <h3>What is ember attack?</h3><hr />
                                        <p> During a bushfire, burning parts of trees such as twigs, branches or leaves become temporarily airborne and can be carried down by the wind</p>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </section>
                <!-- SECTION 2 -->
                <h2>
                    <p class="step-icon">2</p>
                    <span class="step-text">Garden</span>
                </h2>
                <section id="sec2">
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p"><span><img src="~/images/rsz_gardenicon.png" /></span>Maintain your garden regularly to create a buffer zone</p>
                        </div>
                    </div>

                    <div class="content1 row">
                        <h1 class="heading"></h1>

                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/mow_grass.jpg)">

                                </div>
                                <div class="back">
                                    <div>

                                        <p>Mowing long grass and maintain between 5-10cm high within 30m of the house (* not too short to shade the root zone and retain moisture)</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/fallen_leaves.jpg)">

                                </div>
                                <div class="back">
                                    <div>

                                        <p>Clean up fallen leaves, twigs and loose bark around the property (< 1cm deep)</p>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/trim.jpg)">

                                </div>
                                <div class="back">
                                    <div>

                                        <p>
                                            Trimming tree limbs and shrubs overhanging house (within 10m of the house)
                                            .
                                        </p>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/keeplawnwatered.jpg)">
                                    <p></p>
                                </div>
                                <div class="back">
                                    <div>
                                        <p>Keep your lawns watered for avoiding dry grasses. It will help to keep your garden alive in summer through fire, drought, extreme heat.</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/plant.png)">

                                </div>
                                <div class="back">
                                    <div>

                                        <p>
                                            Keep all the plant pots away from each other and away from your house.
                                        </p>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <a class="card1" href="#!">
                                <div class="front" style="background-image: url(../../images/shrubs.jpg)">

                                </div>
                                <div class="back">
                                    <div>

                                        <p>
                                            Planting trees and shrubs with space between them , so they do not form a continuous canopy.

                                        </p>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="stickynote">
                        <div class="snote">
                            <ul>
                                <li>
                                    <a href="#LINK 1">
                                        <h3>TIP #1</h3><hr />
                                        <p>While building a new house use a stone wall, earth barrier close to your home as a radiant heat shield.</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bit.ly/LandscapeForBushfire_CFA" target="_blank">
                                        <h3>TIP #2</h3><hr />
                                                       <p>
                                                           Planting lower flammability plants with low oil and high water and salt content.Learn more for plant type selection<p style="color:#0094ff">Click here</p>
                                                       </p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    @*<div class="">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/garden1.jpeg" alt="Avatar" style="width:100%;height:100%;">
                                </div>
                                <div class="flip-card-back">

                                    <p>
                                        1.Mowing long grass and maintain between 5-10cm high within 30m of the house
                                        (* not too short to shade the root zone and retain moisture) <br />
                                        2.Keep lawns watered<br />
                                        3.Planting lower flammability plants with low oil and high water and salt content
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/garden1.jpeg" alt="Avatar" style="width:100%;height:100%;">
                                </div>
                                <div class="flip-card-back">

                                    <p>Trimming tree limbs and shrubs overhanging house (within 10m of the house)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/garden1.jpeg" alt="Avatar" style="width:100%;height:100%; "/>
                                </div>
                                <div class="flip-card-back">

                                    <p style="font-size:12px;">
                                        Planting trees and shrubs with space between them
                                        (so they do not form a continuous canopy)
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/garden1.jpeg" alt="Avatar" style="width:100%;height:100%;">
                                </div>
                                <div class="flip-card-back">

                                    <p>Clean up fallen leaves, twigs and loose bark around the property (< 1cm deep)</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/garden1.jpeg" alt="Avatar" style="width:100%;height:100%;">
                                </div>
                                <div class="flip-card-back">

                                    <p>Use a stone wall, earth barrier close to your home as a radiant heat shield.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>*@
                </section>
                <!-- SECTION 3 -->
                <h2>
                    <p class="step-icon">3</p>
                    <span class="step-text">Flammable items</span>
                </h2>
                <section>
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p" ><span><img src="~/images/rsz_flam-removebg-preview.png" /></span>Identify household flammable items and stay aware</p>
                        </div>
                    </div>
                    <div>
                        <div class="carousel1">
                            <ul class="slides">
                                <input type="radio" name="radio-buttons" id="img-1" checked />
                                <li class="slide-container">
                                    <div class="slide-image">
                                        <img src="~/images/Garage_Deck area.jpg">
                                    </div>
                                    <div class="carousel-controls">
                                        <label for="img-3" class="prev-slide">
                                            <span>&lsaquo;</span>
                                        </label>
                                        <label for="img-2" class="next-slide">
                                            <span>&rsaquo;</span>
                                        </label>
                                    </div>
                                </li>
                                <input type="radio" name="radio-buttons" id="img-2" />
                                <li class="slide-container">
                                    <div class="slide-image">
                                        <img src="~/images/Kitchen_Laundry.jpg">
                                    </div>
                                    <div class="carousel-controls">
                                        <label for="img-1" class="prev-slide">
                                            <span>&lsaquo;</span>
                                        </label>
                                        <label for="img-3" class="next-slide">
                                            <span>&rsaquo;</span>
                                        </label>
                                    </div>
                                </li>
                                <input type="radio" name="radio-buttons" id="img-3" />
                                <li class="slide-container">
                                    <div class="slide-image">
                                        <img src="~/images/Bedroom.jpg">
                                    </div>
                                    <div class="carousel-controls">
                                        <label for="img-2" class="prev-slide">
                                            <span>&lsaquo;</span>
                                        </label>
                                        <label for="img-1" class="next-slide">
                                            <span>&rsaquo;</span>
                                        </label>
                                    </div>
                                </li>
                                <div class="carousel-dots">
                                    <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                                    <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                                    <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="stickynote">
                        <div class="snote">
                            <ul>
                                <li>
                                    <a href="#LINK 1">
                                        <h3>Storing Information #1</h3><hr />
                                        <p>Use approved containers. Quantities should be limited to the amount necessary for the work in progress.</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LINK 2">
                                        <h3>Storing Information #2</h3><hr />
                                                                       <p>
                                                                           No more than 10 gallons of flammable and combustible liquids, combined, should be stored outside of a flammable storage cabinet unless safety cans are used.
                                                                       </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LINK 3">
                                        <h3>Storing Information #3</h3><hr />
                                        <p>Storage of flammable liquids must not obstruct any exit. Flammable liquids should be stored separately from strong oxidizers, shielded from direct sunlight, and away from heat sources.</p>
                                    </a>
                                </li>
                               


                            </ul>
                        </div>
                    </div>

                    @*<div class="wrapper">
                <input checked type=radio name="slider" id="slide1" />
                <input type=radio name="slider" id="slide2" />
                <input type=radio name="slider" id="slide3" />



                <div class="slider-wrapper">
                    <div class=inner1>
                        <article >
                            <div class="info top-left">

                            </div>
                            <img src="~/images/Garage_Deck area.jpg" />
                        </article>

                        <article>
                            <div class="info bottom-right">

                            </div>
                            <img src="~/images/Kitchen_Laundry.jpg" />
                        </article>

                        <article>
                            <div class="info bottom-left">

                            </div>
                            <img src="~/images/Bedroom.jpg" />
                        </article>


                        <article>
                            <div class="info top-right">
                                <h3>Ladakh</h3>
                            </div>
                            <img src="~/images/Kitchen_Laundry.jpg" />
                        </article>

                        <article>
                            <div class="info bottom-left">
                                <h3>Nubra Valley</h3>
                            </div>
                            <img src="~/images/Bedroom.jpg" />
                        </article>

                    </div>

                </div>


                <div class="slider-prev-next-control">
                    <label for=slide1></label>
                    <label for=slide2></label>
                    <label for=slide3></label>


                </div>


                <div class="slider-dot-control">
                    <label for=slide1></label>
                    <label for=slide2></label>
                    <label for=slide3></label>


                </div>

            </div>*@




                </section>
                <!-- SECTION 4 -->
                <h2>
                    <p class="step-icon">4</p>
                    <span class="step-text">Pets</span>
                </h2>
                
                <section class="ftco-section ftco-no-pt ftco-no-pb ">
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p" ><span><img src="~/images/Dog-01.png" /></span>Animals could be easily become anxious and need your extra comfort</p>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row d-flex">
                            <div id="slideshow" class="col-lg-6 col-md-6 col-sm-12 d-flex">
                                <div>
                                    <img src="~/images/slide1.jpg" width="100%" />
                                </div>
                                <div>
                                    <img src="~/images/slide2.jpg" width="100%"/>
                                </div>
                                <div>
                                    <img src="~/images/slide3.jpg" width="100%"/>
                                </div>
                                <div>
                                    <img src="~/images/slide4.jpg" width="100%"/>
                                </div>
                                <div>
                                    <img src="~/images/slide5.jpg" width="100%"/>
                                </div>
                                <div>
                                    <img src="~/images/slide6.jpg" width="100%"/>
                                </div>
                            </div>

                                

                                @*<div class="img1 img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end">
               <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play"></span>
        </a>
            </div>*@
                           
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row justify-content-start ">
                                    <div class="heading-section ftco-animate">


                                        <div class="services-wrap">
                                            <div class="services-list">
                                                1. Send them to the boarding facility or a relative/friend’s place in advance on fire risky days.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>
                                            <div class="services-list">
                                                2. If you choose to keep the pet with you, practice how you will move your pets when you leave.

                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>
                                            <div class="services-list">
                                                3. Have fresh, cold water available for your pet.

                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>
                                            <div class="services-list">
                                                4. Ensure your pets have shade at all times.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>
                                            <div class="services-list">
                                                5. Wipe the pet down with a cool, damp towel or leave wet towels out for them to lie on.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>

                                            <div class="services-list">
                                                6. Never leave your pet in a vehicle on a hot day.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>

                                            <div class="services-list">
                                                7. Dogs: use collars, leads or a harness and a muzzle if the dog is aggressive, have the dog clipped if its coat is long and thick.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>

                                            <div class="services-list">
                                                8. Cats, rabbits, guinea pigs, birds, ferrets, mice, snakes and lizards: use a secure cage or box with air holes.
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>

                                            <div class="services-list">
                                                9. Fish: transport in a wide-necked jar with a secure lid and fill with 2/3 water (include a plastic straw to blow air into the water now and again).
                                                <div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-checkmark" style="font-size:25px;"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stickynote">
                        <div class="snote">
                            <ul>
                               
                                <li>
                                    <a href="#">
                                        <h3>Pet Insight #1</h3><hr />
                                                       <p>
                                                           Animals can sense danger and could easily become stressed. Ensure you restrain or confine your pet, as it may become frightened and panic in a fire.
                                                       </p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </section>
                <!-- SECTION 5 -->
                <h2>
                    <p class="step-icon">5</p>
                    <span class="step-text">Emergency kit</span>
                </h2>
                <section>
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p"><span><img src="~/images/rsz_emergencykit.png" />Practice packing up important stuffs in advance and be ready at bushfire season</span></p>
                        </div>
                    </div>
                    <div class="map">

                        <div class="map-item map-item1">
                            <a class="marker marker1" href="#marker1">1</a>

                            <aside id="marker1" class="map-popup">

                                <p>Overnight bag with a change of clothes, toiletries, and sanitary supplies.!</p>

                            </aside>
                        </div>

                        <div class="map-item map-item2">
                            <a class="marker marker2" href="#marker2">2</a>

                            <aside id="marker2" class="map-popup">

                                <p>Identification and important items (photo ID, valuables, USB stick with important files such as banking and insurance documents).</p>

                            </aside>
                        </div>

                        <div class="map-item map-item3">
                            <a class="marker marker3" href="#marker3">3</a>

                            <aside id="marker3" class="map-popup">

                                <p>Medicines, first-aid kit with manual and prescriptions.</p>

                            </aside>
                        </div>

                        <div class="map-item map-item4">
                            <a class="marker marker4" href="#marker4">4</a>

                            <aside id="marker4" class="map-popup">

                                <p>
                                    Battery-powered radio tuned into local emergency broadcaster for updates on
                                    the progress of a fire, waterproof torch and spare batteries.
                                </p>

                            </aside>
                        </div>

                        <div class="map-item map-item5">
                            <a class="marker marker5" href="#marker5">5</a>

                            <aside id="marker5" class="map-popup">

                                <p>Use 100% woolen blankets as a shield from radiant heat</p>

                            </aside>
                        </div>

                        <div class="map-item map-item6">
                            <a class="marker marker6" href="#marker6">6</a>

                            <aside id="marker6" class="map-popup">

                                <p>An adequate amount of water (3 liters per person per day) and food for at least 48 hours.</p>

                            </aside>
                        </div>
                        <div class="map-item map-item7">
                            <a class="marker marker7" href="#marker7">7</a>

                            <aside id="marker7" class="map-popup">

                                <p>A bottle of artificial tears to help flush ash and provide relief from smoke in your eyes.</p>

                            </aside>
                        </div>

                        <div class="map-item map-item8">
                            <a class="marker marker8" href="#marker8">8</a>

                            <aside id="marker8" class="map-popup">

                                <p>Protective clothing to cover all exposed skin: (clothes should be loose-fitting to allow for sweating and cooling and made from 100% natural fibers like wool, cotton or denim. Must avoid synthetics).</p>

                            </aside>
                        </div>

                        <img src="~/images/EmergencyKit.jpeg" alt="">
                    </div>

                </section>
                <!-- SECTION 6 -->
                <h2>
                    <p class="step-icon">6</p>
                    <span class="step-text">Water resources</span>
                </h2>
                <section>
                    <div class="form-heading">
                        <div class="alter alert-warning" role="alert">
                            <p class="form-heading_p" ><span><img src="~/images/rsz_watericon.png" /></span>Keep available water supplyas a backup</p>
                        </div>
                    </div>

                    <div class="container" style="text-align:center">
                        <div class="row">
                            <div class="card col-lg-3 col-md-3 col-sm-12" style="width: 18rem;">
                                <img src="~/images/rsz_garden_pools.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Garden pool</h5>
                                    <p>Ensure access to the independent water supply (e.g. garden pools). Do not rely only on mains water being available during a fire.</p>
                                </div>
                            </div>

                            <div class="card col-lg-3 col-md-3 col-sm-12" style="width: 18rem;">
                                <img src="~/images/hoses_enough.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Hoses</h5>
                                    <p>
                                        Make sure that the hoses long enough to reach around the house so that it can cover all the parts of the house. Use a petrol/diesel driven or electric fire fighting pump powered by a generator.
                                    </p>
                                </div>
                            </div>

                            <div class="card col-lg-3 col-md-3 col-sm-12" style="width: 18rem;">
                                <img src="~/images/sprinkler_system.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprinkler system</h5>
                                    <p>
                                        Installing a sprinkler system to wet down your home and garden to reduce the impact of radiant heat, sparks, and embers.
                                    </p>
                                </div>
                            </div>

                            <div class="card col-lg-3 col-md-3 col-sm-12" style="width: 18rem;">
                                <img src="~/images/water_tank.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Water tank</h5>
                                    <p>
                                        Install a 10,000-litre tank made from galvanized iron or concrete. For the plastic tank, protect it from radiant heat by constructing a barrier in the form of a brick wall or corrugated iron sheeting.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="stickynote">
                        <div class="snote">
                            <ul>

                                <li>
                                    <a href="https://www.cfa.vic.gov.au/documents/20143/69511/FSG006-LUP-BMO-Water-Tank-Connections-Outlet-Pipe-Work-aug14.pdf/60cd506d-c469-eff6-1921-25b0544e2460" target="_blank">
                                        <h3>Water safety #1</h3><hr />
                                                               <p>
                                                                   For installing the tank, make sure it has a CFA-compatible fitting outlet to operate your hoses to a fire truck. For learning more about CFA-compatible fittings <p style="color:#0094ff">Click Here</p>
                                                               </p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>







                </section>




            </div>
        </form>
    </div>
</div>





<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="top5action" style="text-align:center">TOP 5 ACTIONS TO MAKE YOUR HOME SAFER</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="post-entry">
                    <div href="#" class="mb-3 img-wrap">
                        <img src="~/images/Grass_Scissors-512.png" alt="Image placeholder" class="img-fluid img-fluid1">
                    </div>
                    <h3>1. TRIM</h3>

                    <p style="justify-content:center;">
                        Trim overhanging
                        trees and shrubs.
                        This can stop the
                        fire spreading to
                        your home..
                    </p>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="post-entry">
                    <div href="#" class="mb-3 img-wrap">
                        <img src="~/images/landscape-clipart-hedge-cutting.png" alt="Image placeholder" class="img-fluid img-fluid1">
                    </div>
                    <h3>2. MOW</h3>

                    <p style="justify-content:center;">
                        Mow grass
                        and remove
                        the cuttings.
                        Have a cleared
                        area around
                        your home.
                    </p>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="post-entry">
                    <div href="#" class="mb-3 img-wrap">
                        <img src="~/images/construction-512.png" alt="Image placeholder" class="img-fluid img-fluid1">
                    </div>
                    <h3>3. REMOVE</h3>

                    <p style="justify-content:center;">
                        Remove material
                        that can burn
                        around your home
                        (e.g. Door mats,
                        wood piles, mulch,
                        leaves, paint,
                        outdoor furniture)
                    </p>

                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="post-entry">
                    <div href="#" class="mb-3 img-wrap">
                        <img src="~/images/64361.png" alt="Image placeholder" class="img-fluid img-fluid1">
                    </div>
                    <h3>4. CLEAR</h3>

                    <p style="justify-content:center;">
                        Clear and remove
                        all the debris
                        and leaves from
                        the gutters
                        surrounding
                        your home.
                        Burning embers
                        can set your
                        home on fire.
                    </p>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="post-entry">
                    <div href="#" class="mb-3 img-wrap">
                        <img src="~/images/hose-icon-5.png" alt="Image placeholder" class="img-fluid img-fluid1">
                    </div>
                    <h3>5. PREPARE</h3>

                    <p style="justify-content:center;">
                        Prepare a sturdy
                        hose or hoses that
                        will reach all around
                        your home. Make
                        sure you’ve got
                        a reliable source
                        of water
                    </p>

                </div>
            </div>
            <div class="col-lg-1 col-md-2"></div>
        </div>
    </div>
</div>



 <!-- .section -->
@*<div class="featured-section overlay-color-2" style="background-image: url('~/images/Fireproof.jpg');">

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img src="~/images/Fireproof.jpg" alt="Image placeholder" class="img-fluid">
                </div>

                <div class="col-md-6 pl-md-5">
                    <span class="featured-text d-block mb-3"></span>
                    <h2>GETTING READY FOR A BUSHFIRE IS EASIER THAN YOU THINK</h2>
                    <p class="mb-3">FIND OUT IN 5 MINUTES.</p>
                    <span class="fund-raised d-block mb-5" style="justify-content:center">
                        ‘Leaving early’ means being away from high-risk
                        areas before there are any signs of fire.
                    </span>

                    <p><a href="#" class="btn btn-success btn-hover-white py-3 px-5 disabled">GET YOUR CHECKLIST</a></p>
                </div>

            </div>
        </div>

    </div>*@

