
@{
    ViewBag.Title = "SeverityMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">

<style>
    #map {
        width: 100%;
        height: 500px;
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
        margin: 0 auto;
        margin-top: 15px;
        position: sticky !important;
    }

    body {
        background: linear-gradient(to top, #ffffff 0, #f6f5f4 100%) fixed;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

    .hide {
        display: none;
    }

    .para {
        padding-left: 0;
        padding-right: 0;
    }

        .para p {
            background-color: #000;
            height: 100%;
            width: 100%;
            font-size: larger;
            padding: 20px;
        }

    input {
        display: block;
    }

    .map-body {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        background: #ffca55;
        padding: 40px;
        border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
        font-family: "Dosis", sans-serif;
    }

    .info {
        opacity: 1;
    }

    .searchinput {
    }


    .text {
        width: 100%;
        height: 40px;
        padding: 9px;
        color: orange;
        border: 1px solid;
        box-shadow: 1px 0px 3px orange;
        border-radius: 50px;
        font-size: 15px;
        text-transform: capitalize;
        outline: none;
        display: inline;
    }

    #awesomplete_list_1 {
        text-align: left;
    }

    ::-webkit-input-placeholder {
        color: orange;
    }

    ::-moz-input-placeholder {
        color: orange;
    }

    ::-ms-input-placeholder {
        color: orange;
    }

    .text:focus {
        box-shadow: 1px 1px 8px orange;
    }

    .submit {
        padding: 10px;
        height: 40px;
        width: 80px;
        font-size: 13px;
        color: white;
        background: #007bff;
        border: none;
        margin: 10px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px orange;
        outline: none;
    }

        .submit:active {
            box-shadow: 0px 0px 7px orange;
        }

    #sev1 {
        background-color: #CBE2B0;
    }

    #sev2 {
        background-color: #EFF36D;
    }

    #sev3 {
        background-color: #EE3008;
        color: #f6f5f4;
    }

    #sev4 {
        background-color: #050100;
        color: #f6f5f4;
    }

    video {
        position: absolute;
    }

    .searchinput p, .risky p {
        margin-top: 0;
        font-size: 25px;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        font-family: "Dosis", sans-serif;
    }

    .risky p {
        font-weight: bold;
    }

    .risky {
        margin-top: 20px;
    }

        .risky a {
            color: #5487FA;
        }

    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
        width: 135px;
        font: 16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .oaerror {
        width: 80%;
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 10px auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .danger {
        border-left-color: #d9534f; /* Left side border color */
        background-color: rgba(254, 17, 10, 0.1); /*Same color as the left border with reduced alpha to 0.1*/
        border-color: #d9534f;
    }
</style>



<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-image: url('../../images/bg_1.jpg'); background-position: 0% 0px;" data-stellar-background-ratio="0.5">
           
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="heading mb-5">Find bushfire severity level of Victoria.</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="map-body container">
    @*<input type="text" id="postcode" name="postcode"><br>
        <button type="button" value="postcode search" onclick="zoomToPostCode()" class="btn-primary">Search</button>*@
    <div class="row">
        <div class="searchinput col-lg-12">
            <div>
                <p>Find your suburbs severity level predicted from the past 10 years bushfire data of Victoria</p>
                @*<input type="text" maxlength="4" id="postcode" placeholder="Enter postcode" class="awesomplete text" required  />*@
                <input type="text" id="postcode" maxlength="4" placeholder="Please enter your postcode or choose one from prompts" class="awesomplete text">
                <button type="submit" onclick="zoomToPostCode()" class="submit"><i class="fas fa-search"></i></button>
                <input type="text" value="The postcode must be 4 digits" class="oaerror danger errormsg hide" id="errormsg1">
                <input type="text" value="Please enter the postcode for Victoria" class="oaerror danger errormsg hide" id="errormsg2">
            </div>
        </div>
        <div class="col-lg-12">
            <div id="map" style="position:sticky;" class="col-lg-12"></div>
            <div class="para col-lg-12">
                <p id="sev1" class="hide">Green zone means you are on a safe area, there was no bushfire in past years in this area.</p>
                <p id="sev2" class="hide">Yellow zone mean there were fewer bushfire with low severity in your area, so, You are in a comparatively safe area.</p>
                <p id="sev3" class="hide">Red zone means your area is at the risk of having several bushfire incidents in the past with a medium severity level. Please be alert with the warnings and make a plan for your preparation.</p>
                <p id="sev4" class="hide">Black zone means your area is at high risk of having bushfire incidents with a high severity level. Please prepare yourself to leave early and stay up to date about the emergency situation.</p>
            </div>
            <div class="col-lg-12 risky">
                <p>Living in risky areas?</p>
                <p>Learn about the <a href="/Home/Prepare">preparation steps</a>  for leaving early and staying safe.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/postcode.js"></script>
<script src="~/Scripts/postcode_name.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
<script src="https://kit.fontawesome.com/57456f662e.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>

<script type="text/javascript">

    var map = L.map("map").setView([-37, 145], 7);

    L.tileLayer(


        "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
        {
            maxZoom: 18,
            attribution:
                'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: "mapbox.light"
        }
    ).addTo(map);

    var southWest = L.latLng(-39.4, 140),
        northEast = L.latLng(-33.9, 150.5);
    var bounds = L.latLngBounds(southWest, northEast);
    map._layersMinZoom = 7;

    map.setMaxBounds(bounds);
    map.on('drag', function () {
        map.panInsideBounds(bounds, { animate: false });
    });


    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create("div", "info");
        this.update();
        return this._div;
    };

    function get_severity_level(sev) {
        return sev > 7 ? "Very High"
            : sev > 5 ? "High"
                : sev > 1 ? "Medium"
                    : "Low"
    }

    info.update = function (props) {
        this._div.innerHTML =
            "<h4>VIC severity level</h4>" +
            (props
                ? "<b>" +
                props.POSTCODE +
                "</b><br />" +
                "Severity Level: " +
                get_severity_level(props.fire_severity)
                : "Hover over a suburb");
    };

    info.addTo(map);




    function getColor(d) {
        return d > 7 ? "#050100"
            : d > 5 ? "#EE3008"
                : d > 1 ? "#EFF36D"
                    : "#CBE2B0"
    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: "white",
            dashArray: "3",
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.fire_severity)
        };
    }




    function highlightLayer(layer) {
        layer.setStyle({
            weight: 5,
            color: "#23F2F5",
            dashArray: "",
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    function highlightFeature(e) {
        var layer = e.target;
        highlightLayer(layer);
    }




    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
        sev = e.target.feature.properties.fire_severity;
        show_information(sev)
    }

    function new_click(e) {
        zoomToFeature(e);
        highlightFeature(e);

    }
    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature,
            click: new_click
        });
        layers[feature.properties.POSTCODE] = layer;
    }

    layers = {};

    statesData = vic_sev;


    geojson = L.geoJson(statesData, {
        style: style,
        onEachFeature: onEachFeature,
    }).addTo(map);

    var input = document.getElementById('postcode');
    var awesomeplete = new Awesomplete(input, {
        list: postcode_name,
        minChars: 1
    });



    function zoomToPostCode() {
        var postcode_str = document.getElementById("postcode").value;
        postcode = postcode_str.slice(0, 4);
        if (layers.hasOwnProperty(postcode)) {
            document.getElementById('errormsg1').classList.add('hide');
            document.getElementById('errormsg2').classList.add('hide');
            layer = layers[postcode];
            map.fitBounds(layer.getBounds());
            highlightLayer(layer);
            sev = layer.feature.properties.fire_severity;
            show_information(sev);
        } else if (isNaN(postcode)) {
            document.getElementById('errormsg1').classList.remove('hide');
            document.getElementById('errormsg2').classList.add('hide');
        } else {
            document.getElementById('errormsg1').classList.add('hide');
            document.getElementById('errormsg2').classList.remove('hide');
        }

    }




    var legend = L.control({ position: "bottomright" });
    legend.onAdd = function (map) {

        var div = L.DomUtil.create("div", "legend");
        div.innerHTML =
            '    <i style="background: #CBE2B0"></i>Low (0-2)<br>' +
            '    <i style="background: #EFF36D"></i>Medium (2-5)<br>' +
            '    <i style="background: #EE3008"></i>High (5-7)<br>' +
            '    <i style="background: #050100"></i>Very High (7+)';

        return div;
    };


    legend.addTo(map);


    function get_severity(sev) {
        return sev > 7 ? "sev4"
            : sev > 5 ? "sev3"
                : sev > 1 ? "sev2"
                    : "sev1"
    }

    function show_information(sev) {
        id_names = ['sev1', 'sev2', 'sev3', 'sev4'];
        for (var idx = 0; idx < id_names.length; idx++) {
            document.getElementById(id_names[idx]).classList.add('hide')
        }
        sev_level = get_severity(sev);
        document.getElementById(sev_level).classList.remove('hide')
    }

</script>

@Scripts.Render("~/bundles/jquery")
