
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-dark {
        background-color: #343a40 !important;
    }

    .infogram-embed {
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
    }

    iframe {
        border-radius: 10px;
    }

    .ftco-navbar-light {
        top: 0;
    }

    .timeline_div {
        background: rgb(240, 203, 105);
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
        padding: 45px;
        padding-top: 0;
    }
</style>
<div class="container timeline_div" style="margin-top:8%; margin-bottom:2%;">
    <div class="container">
        <script id="infogram_0_4b76a039-e1f5-4866-be19-8e4727d7249f" title="" src="https://e.infogram.com/js/dist/embed.js?AoB" type="text/javascript"></script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href=" " style="color:#989898!important;text-decoration:none!important;" target="_blank"></a><br><a href="https://infogram.com" style="color:#989898!important;text-decoration:none!important;" target="_blank" rel="nofollow"></a></div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")